<!--
<p>
  social-channel works!
</p>
-->
<div class="social-channel-container">
  <div class="bs-component">
    <div class="panel panel-default">
      <div class="panel-heading">
        Social Media
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          Twitter
        </a>
        <a href="#" class="list-group-item">
          Youtube Channel
        </a>
        <a href="#" class="list-group-item">
          Github
        </a>
      </div>
    </div>
  </div>
</div>
